body {
  background-color: #d9dcd6;
  height: 100%;
  margin: 0;
  padding: 0;
}

#spacedown {
  padding-bottom: 1rem;
}

.aboutus-title {
  background-image: url(background_picture/about_us_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.5rem, 2vw, 14rem);
  color: #f4b942;
  font-weight: 400;
  position: relative;
}

.aboutus-title div {
  content: "";
  position: absolute;
  bottom: 40%;
  width: 18%;
  height: 0.3%;
  background-color: #f4b942;
}

.our-mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 5rem);
  padding: clamp(1rem, 2.5vw, 5rem);
  background-color: rgba(12, 54, 80, 0.1);
}

.our-mission-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1vw, 5rem);
  padding: clamp(1rem, 2vw, 5rem) clamp(1rem, 4vw, 5rem);
}

.our-mission-content img {
  width: 100%;
  height: auto;
  max-width: clamp(600px, 30vw, 2000px);
  margin-bottom: clamp(1rem, 0.5vw, 6rem);
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .our-mission-content img {
    max-width: 320px;
  }
}

@media screen and (max-width: 430px) {
  .our-mission-content img {
    max-width: 200px;
  }
}

.our-mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-left: clamp(1rem, 3.5vw, 5rem);
  gap: clamp(1rem, 1vw, 5rem);
  color: #051823;
}

.our-mission-text h2 {
  font-size: clamp(1rem, 2.5vw, 14rem);
  font-weight: 600;
}

.our-mission-text p {
  font-size: clamp(0.6rem, 1.3vw, 12rem);
  padding-bottom: clamp(0.2rem, 1vw, 6rem);
  line-height: 1.5;
  font-weight: 500;
}

.value-content ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin: 0;
}

.value-content li {
  margin-bottom: clamp(0.5rem, 1vw, 1.5rem);
  padding: clamp(0rem, 0vw, 0.5rem) clamp(0.2rem, 2vw, 6rem);
}

.value-content li::marker {
  font-size: clamp(0.6rem, 1vw, 5rem);
  color: #051823;
}

.our-values-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #051823;
  padding: clamp(0.8rem, 1.2vw, 16rem) clamp(0rem, 0vw, 0rem);
}

.our-values-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(1rem, 2vw, 5rem);
  padding: clamp(1rem, 2.5vw, 5rem);
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 6rem);
  padding: clamp(0rem, 0vw, 0rem) clamp(1rem, 2vw, 10rem);
}

.value img {
  width: clamp(2rem, 3.5vw, 20rem);
  height: auto;
}

.value h3 {
  font-size: clamp(1rem, 2vw, 8rem);
  padding-bottom: clamp(0rem, 0.2vw, 6rem);
  font-weight: 600;
}

.value-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1vw, 5rem);
}

.value-content strong {
  font-size: clamp(0.6rem, 1.5vw, 6rem);
  padding-bottom: clamp(0rem, 1vw, 6rem);
  font-weight: 600;
}

.value-content p {
  font-size: clamp(0.4rem, 1.2vw, 6rem);
  padding-right: clamp(0.5rem, 2vw, 6rem);
  line-height: 1.5;
  font-weight: 500;
}
