body {
  background-color: #d9dcd6;
}

.yachts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: clamp(2rem, 2.5vw, 30rem) clamp(1rem, 1.5vw, 5rem)
    clamp(0.5rem, 0.5vw, 5rem);
  margin-top: clamp(0.5rem, 0.5vw, 8rem);
}

.yachts-section h1 {
  color: #051823;
  font-size: clamp(1.5rem, 2.5vw, 14rem);
  font-weight: 600;
  padding-top: clamp(0.2rem, 5vw, 7rem);
  padding-left: clamp(0.5rem, 3vw, 5rem);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: clamp(1rem, 2vw, 10rem);
  padding: clamp(1rem, 2.5vw, 5rem);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #051823;
  color: #fff;
  border-radius: clamp(0.5rem, 1vw, 5rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.card-content {
  text-align: left;
}

.card-content img {
  width: 100%;
  height: auto;
  margin-bottom: clamp(1rem, 0.5vw, 6rem);
  object-fit: cover;
}

.card-content h3 {
  font-size: clamp(1.5rem, 1vw, 20rem);
  font-weight: 500;
  margin-bottom: clamp(0.5rem, 0.7vw, 2rem);
  padding-left: clamp(0.5rem, 1vw, 2rem);
  padding-right: clamp(0.5rem, 1vw, 2rem);
}

.card-content p {
  font-size: clamp(0.9rem, 0.9vw, 8rem);
  margin-bottom: clamp(1rem, 0.5vw, 2rem);
  padding-left: clamp(0.5rem, 1vw, 2rem);
  padding-right: clamp(0.5rem, 1vw, 2rem);
  line-height: 1.5;
  font-weight: 400;
}

#price {
  font-size: clamp(0.9rem, 1.1vw, 12rem);
  margin-bottom: clamp(1rem, 0.5vw, 2rem);
  padding-left: clamp(0.5rem, 1vw, 2rem);
  padding-right: clamp(0.5rem, 1vw, 2rem);
  line-height: 1.5;
  font-weight: 550;
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }

  .card-content h3 {
    font-size: 0.8rem;
  }

  .card-content p {
    font-size: 0.6rem;
  }
}

.cargo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: clamp(0.5rem, 0.5vw, 5rem) clamp(1rem, 1.5vw, 5rem);
}

.cargo-section h1 {
  color: #051823;
  font-size: clamp(1.5rem, 2.5vw, 14rem);
  font-weight: 600;
  padding-top: clamp(0.2rem, 0.5vw, 7rem);
  padding-left: clamp(0.5rem, 3vw, 5rem);
}

.luxury-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: clamp(0.5rem, 0.5vw, 5rem) clamp(1rem, 1.5vw, 5rem);
}

.luxury-section h1 {
  color: #051823;
  font-size: clamp(1.5rem, 2.5vw, 14rem);
  font-weight: 600;
  padding-top: clamp(0.2rem, 0.5vw, 7rem);
  padding-left: clamp(0.5rem, 3vw, 5rem);
}
