body {
  background-color: #051823;
}

/* Hero Section */
.hero-section {
  background-image: url(background_picture/Cruise_ships_BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero-section {
  padding: clamp(8rem, 12vw, 50rem) clamp(4rem, 9vw, 40rem);
}

.hero-section h2 {
  color: #fff;
  font-size: clamp(3rem, 3vw, 14rem);
  font-weight: 600;
}

.hero-section h1 {
  color: #f4b942;
  font-size: clamp(3.5rem, 4vw, 16rem);
  font-weight: 600;
}

.hero-section h3 {
  color: #fff;
  font-size: clamp(2rem, 2vw, 10rem);
  font-weight: 560;
  padding-top: 4px;
  padding-bottom: clamp(1rem, 2.5vw, 6rem);
}

.hero-section a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1.5rem, 1.5vw, 6rem);
  font-weight: 500;
  background-color: #a67c52;
  padding: clamp(0.5rem, 0.8vw, 2rem) clamp(1rem, 1vw, 4rem);
  border-radius: clamp(0.7rem, 1vw, 4rem);
}

/* Our Products Section */
.our-products-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #051823;
  /* padding-top: 5.2rem; */
  padding-top: clamp(1rem, 6.8vw, 19rem);
}

.container-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #051823;
  background-color: #d9dcd6;
  margin: 0;
  padding-bottom: 12px;
}

.card {
  /* padding: 3rem 4.5rem; */
  flex: 1;
  max-width: clamp(400px, 30vw, 2000px);
  padding: clamp(0.5rem, 3.5vw, 8rem) clamp(1rem, 4vw, 25rem);
}

.container-middle .card h1 {
  margin: 0;
  padding-bottom: clamp(2.5rem, 3vw, 5rem);
  padding-top: 0;
  font-size: clamp(1rem, 3vw, 14rem);
  font-weight: 600;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1vw, 6rem);
}

.card-content img {
  width: 100%;
  height: auto;
  margin-bottom: clamp(1rem, 1.5vw, 6rem);
  object-fit: cover;
}

.card-content h2 {
  font-size: clamp(1.5rem, 2vw, 6rem);
  font-weight: 600;
}

.card-content p {
  font-size: clamp(1rem, 1.5vw, 6.5rem);
  font-weight: 500;
  padding: 0 0 2rem;
}

/* Why Us Section */
.why-us-section {
  background-color: #4d5c6a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: clamp(0rem, 2vw, 19rem);
}

.why-us-section h1 {
  color: #fff;
  font-size: clamp(1rem, 3vw, 14rem);
  font-weight: 500;
  padding: clamp(1rem, 3.5vw, 7rem) clamp(0.5rem, 3vw, 5rem);
  padding-top: clamp(0.5rem, 5vw, 10rem);
}

.why-us-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: clamp(0.5rem, 0vw, 5rem) clamp(0.5rem, 3vw, 5rem);
  padding-bottom: clamp(0.5rem, 14vw, 5rem);
}

.why-us-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: clamp(0rem, 0.5vw, 5rem) clamp(0rem, 4vw, 5rem);
}

.why-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: clamp(0.5rem, 0vw, 5rem);
  padding-left: clamp(0.5rem, 0.5vw, 20rem);
}

.why-us-content p {
  font-size: clamp(0.8rem, 1.7vw, 5rem);
  font-weight: 500;
  padding: clamp(0.5rem, 0vw, 5rem) clamp(0.5rem, 1vw, 20rem);
  padding-bottom: clamp(0.5rem, 3.5vw, 5rem);
}

.subs-button a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(0.5rem, 1.5vw, 6rem);
  font-weight: 500;
  background-color: #a67c52;
  padding: clamp(0.5rem, 0.8vw, 2rem) clamp(1rem, 1vw, 4rem);
  border-radius: clamp(0.7rem, 1vw, 4rem);
}

@media screen and (max-width: 768px) {
  .why-us-container img {
    width: clamp(150px, 40vw, 300px);
  }
}
